alias where="command -v"
alias j="jobs -l"

case "${OSTYPE}" in
freebsd*|darwin*)
    alias ls="ls -G -w"
    ;;
linux*)
    alias ls="ls --color"
    ;;
esac

function peco-files() {
    local files="$(ls -a | peco | tr '\n' ' ')"
    # [ -z "$files" ] && return
    if [ -n "$LBUFFER" ]; then
        BUFFER="$LBUFFER$files"
    fi
    CURSOR=$#BUFFER
}
zle -N peco-files

function peco-select-history() {
    local tac
    if which tac > /dev/null; then
        tac="tac"
    else
        tac="tail -r"
    fi
    BUFFER=$(\history -n 1 | eval $tac | awk '!a[$0]++' | peco --query "$LBUFFER")
    CURSOR=$#BUFFER
    # zle clear-screen
}
zle -N peco-select-history


# alias du="du -h"
# alias df="df -h"
# alias su="su -l"

alias fxg="find . -type f |xargs grep -n"
alias vaprobash="curl -L http://bit.ly/vaprobash > Vagrantfile"
alias ensime="sh ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/Ensime/serverStart.sh"
alias vim="mvim -v"
alias vi="mvim -v"
